[2017-07-11 04:58] vijay03 opened #1 "Decouple workload generation from C++ code"
We should be able to support a workflow like this:
- start tracing
- user runs arbitrary workload
- stop tracing

The user's workload shouldn't have to be written in C++ inside CrashMonkey

[2017-07-11 17:25] vijay03 opened #2 "Stress Test the File System"
A number of bugs only occur the file system is close to full (storage space almost utilized). Add this as part of the testing.

Some bugs only appear when the kernel is low on memory. Need to figure out how to add those.

[2017-07-11 17:26] vijay03 opened #3 "Have a set of tests run against each file system"

[2017-07-11 17:39] ashmrtn commented on #1
Are we making any assumptions as to what device the user workload will be run on? Should we assume it's run on an arbitrary block device? Or should we assume it's run on our custom RAM block device? Running on an arbitrary one is possible, we'll just have to make sure we have a snapshot of the actual disk it's running on before we allow the workload to run.

[2017-07-11 17:41] vijay03 commented on #1
I think restricting it so that they run on our block device is reasonable.
We should be able to trace whatever they run on a predefined path (the file
system on our block device).

Thanks,
Vijay Chidambaram
http://www.cs.utexas.edu/~vijay/

On Tue, Jul 11, 2017 at 10:39 AM, ashmrtn <notifications@github.com> wrote:

[2017-07-11 18:31] vijay03 opened #4 "Introduce multi-threading"
Test N crash states at once, where N is the number of cores on the test machine.

[2017-07-11 19:12] vijay03 opened #5 "Collect crash-consistency bugs to reproduce"
Look at Linux kernel mailing lists and file-system specific lists such as linux-ext4 and linux-btrfs to collect bugs we could attempt to reproduce.

[2017-07-12 03:47] vijay03 commented on #3
1. Test mmap() and file read()/write() at the same time
2. Test crashes in the middle of rename
3. Truncating a file, then creating another file

[2017-07-12 22:31] ashmrtn commented on #1
Are we thinking of any certain way to do this in particular? How integrated should it be with the rest of CrashMonkey? Currently the device wrapper exposes ioctls to start/stop logging as well as another set of ioctls to retrieve logged information. Do you have any ideas on what sort of interface we should present users if they don't want to use the C++ harness code?

If users decide to use the st

[2017-07-12 22:34] vijay03 commented on #1
I think you should have an option to start CrashMonkey in the background.
Then another user command which stops logging.

In this mode, the user would specifically use another command to start
testing.

I'm just thinking of small executables/shell scripts which do this.

[2017-07-12 22:37] ashmrtn opened #6 "Update CrashMonkey to also work with 4.x version kernels."
CrashMonkey currently only works with 3.x versions of the Linux kernel. It should be updated to work with 4.x versions of the kernel as well.

[2017-07-12 22:42] domingues commented on #1
I was thinking about this and came up with two ideias:

1. allow the user to specify the the programs/scripts that would be executed in each step, something like: ./harness -{...} --setup=./setup.sh --run=./run.sh --test=./test.sh
2. split the harness program in four, and the workflow will like:
  - ./harness prepare {...}
  - ./setup.sh
  - ./harness startLogging {...}
  - ./run.sh
  - ./harness

[2017-07-12 22:47] vijay03 commented on #1
Option 2 makes a lot of sense. What are we doing in harness prepare?

Thanks,
Vijay Chidambaram
http://www.cs.utexas.edu/~vijay/

On Wed, Jul 12, 2017 at 3:42 PM, domingues <notifications@github.com> wrote:

[2017-07-12 22:50] ashmrtn commented on #1
I also had a similar idea to what @domingues said. In harness prepare we do some simple stuff like shorten the writeback delay, insert kernel modules, drop caches (for now, we can remove this bit if we want), load up test classes etc. Mostly it is just organizational stuff to make sure the rest of the harness runs smoothly and (hopefully) consistently.

[2017-07-14 01:28] ashmrtn opened #7 "Modularize/Cleanup Kernel Module Insertion and Removal"
The code to insert and remove kernel modules is currently a part of the main harness code. Since the functionality of this code is very narrowly scoped and it is not directly related to how the test harness should be run, it should likely be moved into a utility class or module.

[2017-07-14 01:29] ashmrtn opened #8 "Modularize/Cleanup Block Device Management Code"
The code to manage block devices is currently a part of the main harness code. Since the functionality of this code is very narrowly scoped and it is not directly related to how the test harness should be run, it should likely be moved into a utility class or module.

[2017-07-14 04:47] vijay03 commented on #6
@domingues would you like to work on this as a sort of warm-up project? It should make you familiar with all parts of the codebase.

[2017-07-14 10:54] ashmrtn commented on #6
I believe the main portions of the codebase that you will need to look into for this are the kernel modules. The `cow_brd` module is a bit cleaner, though a tad more complex. That module is a modification of the `brd` module inside the Linux kernel. The `device_wrapper` module is something I threw together and, although it is conceptually simpler, may not be as clear since it was the first kernel

[2017-07-14 14:59] domingues commented on #6
@vijay03 Ok!

[2017-07-15 01:34] ashmrtn opened #9 "Create a set of utilities that user defined tests can use to gain information during workload setup/execution"
User provided tests should have a set of utilities/methods that they can call into which provide them with things like the directory the test file system is mounted at and the file system size.

[2017-07-15 01:36] ashmrtn commented on #9
This functionality can likely be implemented as either methods on the `BaseTestCase` class which user workloads should inherit from, or a set of standalone utilities. The standalone utilities may be more useful if we plan on allowing users to run CrashMonkey in the background while running a workload.

[2017-07-15 01:37] vijay03 commented on #9
I'd prefer this be a command line parameter rather than something used by
the user when writing tests. When starting the harness we should allow the
user to set this.

As for the directory, the user setup sets that up right? So they should
already know about it. Setting them as environmental variables seems like a
good idea.

On Fri, Jul 14, 2017 at 6:35 PM ashmrtn <notifications@github.com> wrote

[2017-07-15 01:53] ashmrtn commented on #9
I agree that the user will probably know about these before-hand when the setup the test harness. However, if we want to have a library of common test cases, we have to be able to efficiently deal with the fact that users could choose different mount directories when running those test cases. In that case, it would be useful to have some set of utilities the test cases could call into to find wher

[2017-07-15 02:01] vijay03 commented on #9
I agree with this in principle, but this is very low priority on our list
of things to build. Lets go to this once we do the other stuff. One preset
directory (like /mnt/test) should be good to start with.

Thanks,
Vijay Chidambaram
http://www.cs.utexas.edu/~vijay/

On Fri, Jul 14, 2017 at 6:53 PM, ashmrtn <notifications@github.com> wrote:

[2017-07-15 02:05] ashmrtn commented on #9
Sure. Part of the reason for making this is so that it doesn't get forgotten down the road if we wish to make this a more robust system for people to use.

[2017-07-15 04:13] vijay03 opened #10 "Test crashes during xfstests"
Set it up so that we crash during xfstests and check if the file system is consistent.
This "macro-test" will yield a lot of interesting crash states.

[2017-07-17 23:48] domingues opened #11 "Kernel modules and C++"
So it seems there is no support to C++, I was trying to port the code to Kernel 3.16 and an included header in the compilation of `RandomPermuter.so` (`linux/stddef.h`) try to define `true` and `false`, that are keywords in C++.
A workaround is remove the link to the kernel headers in the compilation of `RandomPermuter.so`, and create a local file with a copy of the needed values from `linux/blk_t

[2017-07-18 01:55] ashmrtn commented on #11
Huh, I'm actually quite surprised I didn't run into that earlier. I think what we should do is partition our design a bit more. Why don't you try making a C file that defines methods that take a `disk_write_op_meta` and return a bool for the various operation types I have defined in `utils.cpp`? The new C file can then safely include the kernel header, and the C++ files can include a new header th

[2017-07-18 04:26] vijay03 commented on #5
Related paper to read: https://www.usenix.org/system/files/conference/hotstorage17/hotstorage17-paper-gatla.pdf. So we might try something like: crash the system, start CrashMonkey logging, do journal recovery in ext4, stop CrashMonkey logging. Then we will construct crash states in the middle of journal recovery.

To do this, I guess what is missing in current infrastructure is being able to star

[2017-07-18 04:28] vijay03 commented on #1
I think getting this working is currently Priority #1. With this, we should be able to test crashes in the middle of journal recovery.

[2017-07-18 11:57] ashmrtn commented on #5
Correct, we are currently missing the infrastructure to do this. However, the infrastructure required to perform a test like the one you just described is a little more complex than the infrastructure originally discussed in #1. The infrastructure we are talking about here cannot assume that the RAM block device is used to create the original disk image as that would not survive the crash. Therefo

[2017-07-18 22:40] vijay03 commented on #5
@ashmrtn could you elaborate on why "The infrastructure we are talking about here cannot assume that the RAM block device is used to create the original disk image as that would not survive the crash"? From our viewpoint, aren't all workloads the same? Just writes to the custom block device?

[2017-07-18 23:42] ashmrtn commented on #5
Yes, but we will have to create a simple script or something to copy the data over to the RAM block device so we can get the starting state for the tests and the snapshot if we are really going to generate our test file system that needs recovery by crashing the machine. Even if we don't do that, we will have to throw together at least something to setup the initial state of the RAM block device.

[2017-07-19 23:24] domingues commented on #11
Fixed by commit b10f26e7a03c8a9daefdb5c51c86065bfbaa6962.

[2017-07-19 23:25] domingues commented on #6
@ashmrtn could you please review the commit b10f26e7a03c8a9daefdb5c51c86065bfbaa6962, including the makefile?

[2017-07-19 23:28] vijay03 commented on #11
@domingues, you should send @ashmrtn a pull request, that way she can review the code before merging it. Is the newly ported version backwards-compatible with the kernel we were using before?

[2017-07-19 23:40] vijay03 commented on #5
Ah I see. But couldn't we simulate the original crash as well? I'm thinking of something like this:
1. We run some workload
2. Construct a crash state in the middle of step 1
3. Mount file system on top of crash state
4. Now while file-system does recovery, capturing those IOs, and construct new crash states based on those.

We just have to do two levels of crash-state construction I think.

[2017-07-20 01:08] ashmrtn commented on #5
Yes, that sounds possible. When we get that far, we will have to work out the exact details of how to construct a crash state from the crash state meant to run the recovery, but it should be doable.

If we really need results what we could do is actually crash a VM to construct a crash state, `dd` that state to a file for later use, and then make a small shim script which will `dd` the contents of

[2017-07-20 01:50] ashmrtn commented on #11
We will need to add guards or something around code that is specific to 4.4 and the original code in the kernel modules. The way that `bio`s are handled has changed between the two kernel versions. We may also need to check that the flag fields the `disk_wrapper` module logs are correct.

[2017-07-20 02:01] ashmrtn commented on #11
I will post comments when branch is PR-ed so it is easier to see things all at once.

[2017-07-20 15:15] vijay03 commented on #5
Yes, I see what you mean. Feel free to actual crash+grab the state via <code>dd</code> to start with.

[2017-07-20 15:36] vijay03 opened #12 "Implement Checkpoints"
I have a long email thread in my inbox with @ashmrtn about this. Will add the summary from that thread here later.

In short, we want to have some mechanism to know what data/metadata to expect in each crash state. The idea is to allow users to call Checkpoint, which captures the user-visible state (directory tree + data) of the file system somewhere. On a crash, we go back to the latest Checkpoin

[2017-07-21 01:35] ashmrtn commented on #12
To summarize the email chain, we were thinking that we could use checksums to help us save the user-visible state when Checkpoint is called. For simplicity, we could likely use a hashmap keyed on file paths whose values are the checksums. Each checkpoint could generate a hashmap by walking the directory structure of the file system and checksumming the files found.

[2017-07-21 01:37] ashmrtn commented on #12
We may also want to checksum at least some of the data available from calls to `stat()` (ex. file size and permissions but none of the modified/accessed/created times) so that we can catch user-visible metadata errors as well. @vijay03 may have meant that when he said "(directory tree + data)", but I would like to explicitly put that out there as well.

[2017-07-22 01:23] #6 closed

[2017-07-22 01:23] #11 closed

[2017-07-22 12:44] ashmrtn commented on #12
We also need to be able to associate checkpoints with points in our logged `bio` sequence so we should timestamp when the checkpoint was done. Logged `bio`s will also need timestamps as that information is not currently recorded.

We can assume that the user has just completed a `sync` operation of some form when `Checkpoint()` is called.

[2017-07-22 14:24] ashmrtn commented on #1
@vijay03 do we have any idea how user data consistency tests should be handled if CrashMonkey is run in the background for the workload? Should we still constrain user consistency tests to use the interface in CrashMonkey?

[2017-07-22 17:21] vijay03 commented on #12
Sockets sounds reasonable. To associate Checkpoints with the stream of data sent to the device, we should have either a file inside the device (lets say called Flag), that is written to everytime there is a checkpoint. Using writes to Flag, we can then associate each checkpoint in the dat stream.

Another approach would be to have a in-kernel counter that is incremented every time the user calls C

[2017-07-23 00:34] vijay03 commented on #1
Yup, we still want the user to use Checkpoints (through a shell script) for user consistency tests

[2017-07-23 14:42] ashmrtn commented on #1
Will the CrashMonkey automatically start the tests by running the test defined in the user provided test case C++ file or will CrashMonkey provide some other interface to allow users more flexibility similar to how we are providing more flexibility for workloads?

[2017-07-23 17:50] vijay03 commented on #1
Flexibility during testing is not a priority right now, so one command to start off testing will be enough for now. After the profiling step, it should require a specific command to start testing. We might need to insert additional steps between profiling and testing, so we want the two to be separate.

[2017-07-28 00:16] domingues commented on #1
@ashmrtn I don't know if you already have some code to do the communication between the harness and the "tests", to proceed with the issue #12 I have done this 283374b5061afeb581badd719e47ad32b09ec6ee. Feel free to take a look.

[2017-07-28 02:31] ashmrtn commented on #1
@domingues I have created similar code and was thinking how best to package it as it will be used in several places it seems. For now, continue with what you have and we can refactor once we have things working.

You should also look into `ntohl()` and `htonl()` as we should avoid making assumptions about the endianness of the system.

[2017-07-28 02:34] ashmrtn opened #15 "Redo Makefile"
Now that the project is getting bigger, the Makefile should be modified so that builds are cleaner.

Included code should be compiled into libraries where possible and linked where needed instead of provided directly as it is now.

Compiled code should also be placed in its own `build` directory instead of alongside the source files which generated it. This will make `make clean` much easier to de

[2017-07-30 19:01] vijay03 commented on #1
@ashmrtn could you update the README about running CrashMonkey in the background?

[2017-07-30 19:03] ashmrtn commented on #1
Sure thing!

[2017-07-30 19:33] ashmrtn commented on #1
@vijay03 can I just commit README updates directly to master or would you like to PR them in?

[2017-07-30 19:34] vijay03 commented on #1
You commit them directly. I'll close this issue.

[2017-07-30 19:34] #1 closed

[2017-08-02 16:15] vijay03 commented on #12
@domingues @ashmrtn progress seem to have stalled on this? Are we blocked on something?

[2017-08-02 20:02] domingues commented on #12
I have two doubts by now:
1. Should I ignore `lost+found` folder?
2. So on every crash tested (`test_check_random_permutations()`) if the user test fails (`test_loader.get_instance()->check_test()`) we should check if the data is equal to the last checkpoint made?

[2017-08-02 20:27] vijay03 commented on #12
Lets ignore lost and found for now.

By "user test", do you mean a test that the user runs on top of the mounted file system? If so, this is the default version of that user test. Once the file system mounts, we are basically testing that the data/metadata we expect is in there.

If the file system does not mount at all, we just report an error and return.

[2017-08-03 12:39] ashmrtn opened #17 "Allow User Data Consistency Test to Output Meaningful Errors"
The current system is a simple pass/fail return from user data consistency tests. We need to update this to allow user data consistency tests to output meaningful errors that help with finding file system bugs. Without this, it is not easy to determine why a test failed since you can only see summary information about the tests.

[2017-08-03 15:19] vijay03 commented on #17
Yes, this is certainly something we need to handle going forward.

I'd expect the error output to have the following:
1. The error. This could be "Files Missing", "Files Corrupted", "Accounting Wrong" (for double counting references or not counting them at all), or "Unmountable"
2. The particular crash test that resulted in the error. This might be details like epoch prefix and the particular perm

[2017-08-04 11:33] ashmrtn commented on #17
Yes, I agree that we will need to provide all the information you listed above. I think what we should think about is a sort of multi-tiered approach.

We should have user data consistency tests return a generic error code like the one you listed above in part (1). However, they should also be given the opportunity to put a string in a returned error object which can then be printed out to logs. T

[2017-08-04 15:11] vijay03 commented on #17
Yup, I agree each error should have a error number and an associated string. Your design looks reasonable.

[2017-08-04 15:12] vijay03 commented on #12
I think implementing checkpoints is a very large task, that is unlikely to be merged in with a single pull request. @domingues, could you merge in parts of it with pull requests as you code it up?

[2017-08-04 16:24] vijay03 commented on #3
4. Allocate resources such as inodes and data blocks until file system is 95% full. Then crash in the middle of workloads which allocate a resource, then deallocate the resource, repeatedly.
5. Modify xfstests for crash testing

[2017-08-05 15:33] ashmrtn opened #18 "For small tests, stop when the total possible number of crash states is hit"
Currently, the user specifies how many crash states to test and keeps running tests until it reaches that number. For large tests (>= ~10 bios in a single epoch) this is fine. For smaller tests however, unless the user manually counts how many possible crash states there are and sets the options accordingly, it will cause CrashMonkey to loop infinitely trying to find enough unique crash states to

[2017-08-05 15:37] ashmrtn commented on #18
As different Permuters may have a different number of crash states they can generate from the same workload (i.e. one that ignores barrier operations could generate more crash states than one that obeys barrier operations), this should probably be something the Permuter should handle and the test harness can ask the Permuter about.

[2017-08-08 01:00] #18 closed

[2017-08-17 19:14] vijay03 opened #22 "Port CrashMonkey to 4.12"

[2017-08-18 01:18] ashmrtn commented on #22
CrashMonkey has currently been tested on kernels 3.13 and 4.4. We would now like to update it to also support 4.12 kernels.

A good place to start looking for what to modify is to review #14. This PR ported CrashMonkey to 4.4 kernels and should help direct you towards code modifications that may need to be made. You should also look at the differences between the `bio` structures in the 4.4 and 4.

[2017-08-18 01:26] ashmrtn commented on #17
#20 brought in a basic error model for CrashMonkey. However, this still does not allow users to report meaningful errors. The current error model should be expanded to write more specific, user provided errors to a log file for later review.

Most changes will likely be in the `DataTestResult` class to support a user string describing the error. A function should also be added to the `Tester` clas

[2017-08-18 12:27] ashmrtn commented on #17
log file names should include the test case being run and some sort of date/timestamp so that they are unique even if a test case is run multiple times
ex.
[code]
where the part before the `-` is a date/timestamp of some sort (like system jiffies and/or date string including year, month, day, and hour, minutes, seconds if jiffies aren't used) and the part after the `-` is the name of the test case

[2017-08-25 16:28] ashmrtn opened #23 "Do not expose kernel flags to user space"
I made the mistake of exposing kernel bio flags to user space in earlier versions of CrashMonkey. This is not a portable design choice and needs to be fixed. Instead of directly using kernel bio flags in user space, the kernel code in CrashMonkey should translate from kernel flags to CrashMonkey specific flags. This enables portability of user space code in CrashMonkey. Another project similar to

[2017-08-25 16:34] vijay03 commented on #23
This is something good to get done eventually, but I wouldn't make it our
highest priority. We should focus on reproducing bugs.

On Fri, Aug 25, 2017 at 8:28 AM ashmrtn <notifications@github.com> wrote:

--
Thanks,
Vijay Chidambaram
http://www.cs.utexas.edu/~vijay/

[2017-08-30 19:44] vijay03 commented on #15
@ashmrtn , is this done, should we close this issue?

[2017-08-30 20:07] ashmrtn commented on #15
I am hesitant to call it finished. I would really like to switch to something like CMake or Bazel (though Bazel unfortunately has a Java dependency). That way it's a little less cryptic (at least that is my hope). I have kind of been switching stuff over to "cleaner" Make statements, although they are regrettably much more cryptic than the ones that existed before them.

[2017-08-30 20:23] vijay03 commented on #15
My personal opinion is that your current Makefile is fine :) We should definitely not use anything related to Java, and I often CMake makes things harder to understand, not easier.

[2017-08-30 20:37] ashmrtn commented on #15
That's kind of a shame, I had hoped there would be something that would provide a rather readable build file. Anyway, I guess we should kind of shuffle the remaining items over to build in the `build` directory. Some of the variables/target names may need a bit of cleaning up too, now that I think of it.

[2017-08-30 20:39] ashmrtn opened #24 "Reproduce file-system bugs found on mailing lists"
Recently, a couple of gentlemen have been using `dm-log-writes` and `xfstests` (available [here](https://github.com/amir73il/xfstests/tree/dm-log-writes)). We should reproduce these bugs in CrashMonkey as well.

[2017-08-30 20:39] vijay03 commented on #15
Alright, do you want to handle it yourself? It might be a good warm-up task for Sonika.

[2017-08-30 20:40] ashmrtn commented on #24
@vijay03 I am working on getting an email out to the original finder of the bug about this. It appears that he put another test case out and I am working on adding that to CrashMonkey to make sure we can reproduce it as well.

[2017-08-30 20:42] ashmrtn commented on #15
I can pick up this task.

[2017-09-01 15:45] ashmrtn commented on #24
efd486695ead2d68795b191693a12a2e01b2a058 updates CrashMonkey with a jerry-rigged port of the ext4 regression bug found.

[2017-09-01 15:47] ashmrtn commented on #24
An `xfs` bug was also found that we should seek to reproduce.
https://marc.info/?l=linux-fsdevel&m=150421026009701&w=2

[2017-09-01 21:29] vijay03 commented on #24
The xfs bug is subtle and demonstrates why we need something like CrashMonkey very nicely. We should definitely reproduce this. I've made a [wiki page](https://github.com/utsaslab/crashmonkey/wiki/Kernel-Threads-to-Follow) where I am collecting interesting mailing lists conversations like this to follow.

[2017-09-01 23:31] ashmrtn opened #26 "Verify the proper sector is recorded by 'disk_wrapper'"
Comments in the kernel indicate that the `bi_sector` that our current logging may not be relative to the partition we're monitoring, but relative to the entire block device ([offending comment](http://elixir.free-electrons.com/linux/latest/source/block/blk-core.c#L1913)). We need to determine if the sector being logged is the sector relative to the partition of the device we are monitoring or the

[2017-09-01 23:36] ashmrtn opened #27 "Verify 'dm-log-writes' logs a sector relative to the start of the parition"
Comments in the kernel indicate that the `bi_sector` that our current logging may not be relative to the partition we're monitoring, but relative to the entire block device ([offending comment](http://elixir.free-electrons.com/linux/latest/source/block/blk-core.c#L1913)). We need to determine if the sector being logged is the sector relative to the partition of the device we are monitoring or the

[2017-09-02 12:33] ashmrtn opened #28 "stop disk_wrapper from hanging if flag device doesn't exist"
There's a bug in the initialization code of `disk_wrapper` that causes it to be unremmovable (and thus forces a system restart) if the device it's supposed to pull IO scheduler flags from does not exist.

The device is stable otherwise, but this should be fixed to make the system more resilient.

[2017-09-02 23:36] #15 closed

[2017-09-03 16:08] ashmrtn commented on #24
It looks like xfs may be a good target to test. Our friends with dm-log-writes put out another patch to `fstests` and `linux-xfs` lists with subject of  "[RFC][PATCH]fstests: regression test for xfs leftover CoW extent error" (will update with link when archives pick it up).

Sounds like this one is just an error with the file system overall, it doesn't need a crash to reproduce.

[2017-09-06 14:54] ashmrtn opened #30 "Split barrier operations that contain data"
Flush operations are defined oddly. They make sure that the data in the device cache is persisted, but will not make sure the data in the request itself is persisted ([link](https://www.kernel.org/doc/Documentation/block/writeback_cache_control.txt)). In light of this, CrashMonkey should split flush operations that have data. The flush operation itself should end the current epoch in CrashMonkey,

[2017-09-06 19:18] ashmrtn opened #31 "Use dm snapshot device instead of our custom ram block device"
Something appears to be off with the little ram block device (cow_brd) that I created earlier in the project. The device mapper target has a two part system that is already in place through the snapshot-origin and snapshot targets. There is also a library for device mapper that can be used to programatically control device mapper targets.

The dm target has the advantage of upstream support as wel

[2017-09-06 21:34] vijay03 commented on #31
Agree that using libdevmapper is preferrable. And I support the move towards more standardized modules like the device mapper.

What was the original problem with cow_brd?

[2017-09-07 22:44] #28 closed

[2017-09-08 12:09] ashmrtn opened #33 "Create glossary of terms wiki page"
Since CrashMonkey has terminology that is either new, or using it in a new context, we should create a wiki page that defines common terms in CrashMonkeys that users may not be familiar with. This will help people discuss concepts of CrashMonkey in a coherent manner.

[2017-09-08 20:39] ashmrtn commented on #31
It seems that dm-snapshot targets are much slower than what we currently have. They are taking more time than `fsck` on small file systems (18183ms vs 5526 on a ~67MB ramdisk).  9a21e80 has the latest on this work so far.

I have also found that you can't always remove a snapshot immediately after unmounting it. It gives "device busy" errors. I will try to find a better way around that.

[2017-09-11 20:08] ashmrtn commented on #31
@vijay03 it looks like I goofed up in the code that copies data over from the base image of the snapshot. After fixing that, I reproduce the same set of errors with both the `cow_brd` module and dm's transient snapshot target. 13dbd35 shows the fix for the `cow_brd` module. Should I PR it or try to touch up the dm snapshot more?

[2017-09-11 20:09] vijay03 commented on #31
If there are no other advantages to going the DM route apart from this bug, I'd say stay with the current architecture. But if we are doing the DM route anyway, I'd say focus on that.

[2017-09-11 20:13] ashmrtn commented on #31
How fast do we want the test harness to be? the DM route is noticeably slower than the `cow_brd` code, taking ~30s for snapshot maintenance alone for 1000 tests on ext4.

[2017-09-11 20:14] vijay03 commented on #31
How slow is it? How many do states do we test in 30 s?

[2017-09-11 20:29] ashmrtn commented on #31
[code]

\* I skipped some of the other operations that did not take significant amounts of time to run

[2017-09-11 20:35] vijay03 commented on #31
Wow, lets continue with cow-brd then. Any idea why snapshots take so much time in DM?

[2017-09-11 20:41] ashmrtn commented on #31
part of it is probably an issue with removing them immediately after unmounting a ram block device. It seems somewhere in the subsystem it still has work for the snapshot device that prevents it from immediate removal by `dmsetup`. It sometimes throws "device busy" errors when trying to remove DM snapshots. `dmsetup` has a retry with delay loop that it will go through for removals.

I haven't trie

[2017-09-12 13:25] ashmrtn opened #36 "Make CrashMonkey errors easier to understand"
Based on experiences from some of the newer people on the CrashMonkey team, it seems that it is hard to determine why CrashMonkey failed to run properly if an error occurs. Therefore, the error messages in CrashMonkey should be updated to make it easier to understand what went wrong.

[2017-09-12 13:45] ashmrtn opened #37 "Make flags sane"
As development goes along, I find that more and more of the flags are letters that don't really relate to what the flag actually does. It would be nice to clean these up and make them sane values that relate to what the flag actually does.

[2017-09-13 01:38] ashmrtn commented on #12
@vijay03 I think it might be advantageous to split the functionality of the original checkpoint idea into 2 things:
1. a `checkpoint` type operation that will be passed to user tests, denoting the most recent checkpoint reached in the generated crash state (only available after sync/fsync)
1. a `watch` type operation where the user passes a file path to CrashMonkey and CrashMonkey then monitors th

[2017-09-13 15:40] ashmrtn commented on #12
I'm going to split this issue up into several smaller ones since both checkpoints and watches somewhat complicated and require support across different parts of CrashMonkey.

[2017-09-13 15:53] ashmrtn opened #38 "Create API and stub to communicate checkpoint requests to CrashMonkey"
Part of the revised version of #12.

Checkpoints require support across many parts of CrashMonkey. This part is meant to provide user workloads the ability to tell the CrashMonkey test harness that they want to create a checkpoint. CrashMonkey should provide both a stub binary to accomplish this task (similar to the current stubs in the `user_tools` directory) as well as a small API for tests subc

[2017-09-13 15:54] vijay03 commented on #38
Its unclear from the description whether checkpoints are done automatically whenever a sync() or fsync() happens, or whether they are called manually. It would be great if it is automatic.

[2017-09-13 16:01] ashmrtn commented on #38
If we want checkpointing to be done automatically, we have 2 options:

1. require the user to tell us what sort of sync operation they want to perform, and on what
1. 'tap into' what the program is doing via something like `ptrace` to monitor for sync/fsync calls

If neither of the above are implemented, CrashMonkey won't have any idea what the user program is doing. It will only know that the use

[2017-09-13 16:05] vijay03 commented on #38
If it doesn't degrade performance too much, I was thinking of something like strace/ptrace to identify fsync() or sync() calls. It doesn't matter which file they are calling fsync() on, we want checkpoints at that point anyway.

But perhaps we should do this as a later optimization. Lets just do manual checkpoints for now.

[2017-09-13 16:07] ashmrtn opened #39 "implement checkpoint logic in disk_wrapper"
Part of the revised version of #12.

Checkpoints require support across many parts of CrashMonkey. This part is meant to provide the ability for the `disk_wrapper` to actually create a checkpoint. This should be implemented as part of the ioctl created in #40.

For checkpoints, we can assume 2 things:

1. the user has just performed a sync/fsync request of some form
1. this call will block until a

[2017-09-13 16:07] ashmrtn opened #40 "create API to communicate checkpoint requests from CrashMonkey test harness to disk_wrapper module"
Part of the revised version of #12.

Checkpoints require support across many parts of CrashMonkey. This part is meant to provide the ability for the CrashMonkey test harness to tell the `disk_wrapper` to create a checkpoint. This can be implemented as an ioctl call to the `disk_wrapper`.

For checkpoints, we can assume 2 things:

1. the user has just performed a sync/fsync request of some form
1.

[2017-09-13 16:10] ashmrtn commented on #38
I agree that having ptrace watching the workload would be great. Despite that, I also feel that we should first get manual checkpoints working before we try to work in ptrace. Almost all of the infrastructure created for manual checkpoint operations will be used by automatic checkpoints. This is pretty much the only part that will not be used anymore I think.

[2017-09-13 16:11] vijay03 commented on #38
Agreed. Lets get manual checkpoints working.

[2017-09-13 16:22] ashmrtn opened #41 "update permutation algorithms to return the most recent checkpoint when generating crash states"
Part of the revised version of #12.

Checkpoints require support across many parts of CrashMonkey. This part slightly modifies how crash states are generated so that we can give user consistency tests more information about the crash state they are working with.

For checkpoints, we can assume 2 things:

1. the user has just performed a sync/fsync request of some form
1. this call will block until

[2017-09-13 16:57] ashmrtn opened #42 "modify CrashMonkey and BaseTestCase to make use of checkpoints"
Part of the revised version of #12.

Checkpoints require support across many parts of CrashMonkey. This part slightly modifies the way user tests are called so that checkpoint information is passed to user tests

For checkpoints, we can assume 2 things:

1. the user has just performed a sync/fsync request of some form
1. this call will block until all parts of the checkpoint are completed

The par

[2017-09-13 16:59] #30 closed

[2017-09-13 16:59] #31 closed

[2017-09-13 17:15] ashmrtn opened #43 "Implement stub program and API for users to create file watches"
File watches are a feature that would make checking for data consistency a lot easier on users. Therefore, CrashMonkey should support a system where a user can tell CrashMonkey what files should no longer change. These watches may be tied to certain checkpoints in the workload, or they may be something that holds through the entire workload.

For watches, we can assume a few things:
1. the call wi

[2017-09-13 17:23] ashmrtn opened #44 "Implement logic for file watches in CrashMonkey"
File watches are a feature that would make checking for data consistency a lot easier on users. Therefore, CrashMonkey should support a system where a user can tell CrashMonkey what files should no longer change. These watches may be tied to certain checkpoints in the workload, or they may be something that holds through the entire workload.

For watches, we can assume a few things:
1. the call wi

[2017-09-13 17:32] ashmrtn opened #45 "Implement error reporting for watches"
File watches are a feature that would make checking for data consistency a lot easier on users. Therefore, CrashMonkey should support a system where a user can tell CrashMonkey what files should no longer change. These watches may be tied to certain checkpoints in the workload, or they may be something that holds through the entire workload.

For watches, we can assume a few things:
1. the call wi

[2017-09-13 17:36] ashmrtn opened #46 "Make all logs that CrashMonkey generates with the -l flag hex"
To aid correlation between writes to disk and recorded bios, all logs generated by the `-l` (that's lower case 'L', not upper case 'i') should be in hex.

The goal of this is allow users to run CrashMonkey with `strace -x` logging the write system calls. Then, users can directly correlate the hex strings passed to system calls that `strace` logs to the data in bios recorded by CrashMonkey

[2017-09-13 17:39] ashmrtn opened #47 "Monitor the workload process with ptrace"
Monitoring the program running the workload with `ptrace` inside CrashMonkey would make things a little easier for users in a few ways, including:

1. automatically creating checkpoints at sync/fsync operations
1. outputting the correlation between logged bios and system calls made in the workload

Based on the above list, the main goals of adding `ptrace` to CrashMonkey should be:

1. monitor for

[2017-09-20 11:29] ashmrtn commented on #24
Our friends with dm-log-writes seem to have been poking at overlayfs too. It seems like they might be trying to just run dm-log-writes on all the file systems they can get their hands on.

Information on overlayfs can be found [here](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/filesystems/overlayfs.txt). The bug patch name is "[PATCH 0/2] overlay: fix INDE

[2017-09-21 20:46] #17 closed

[2017-09-25 14:07] ashmrtn opened #50 "Investigate index out of bounds exception when no bios are logged"
The test harness portion of CrashMonkey crashes with an index out of bounds exception when no bios are logged/transferred to user space.

Running `sudo ./c_harness -f /dev/vda -d /dev/cow_ram0 -t btrfs -e 102400 tests/rename_root_to_sub.so` on a build from `master` should trigger this bug (potentially substituting `/dev/vda` with an existing disk in the VM).

[2017-09-27 15:02] ashmrtn commented on #24
This is not a bug found by dm-log-writes, but it looks like someone found a [bug in the disk usage accounting](https://marc.info/?l=linux-xfs&m=150650533622909&w=2). This appears in ext4 and xfs, but only in 4/10 of the tests they run, making it seem like xfstests is having a hard time finding it consistently. This is running on kernel 4.14-rc1.

[2017-09-30 15:04] ashmrtn commented on #50
Bug is most likely caused by a negative index into the vector of operations in the `gen_one_state` method of `RandomPermuter`. `RandomPermuter` or `Permuter` should be modified to return immediately with a return value of false if there are no operations to permute.

[2017-10-02 18:28] ashmrtn opened #52 "Exit gracefully if ctrl-c is received"
Users may want to exit CrashMonkey before the test harness has finished a complete run. They should be able to hit `ctrl-c` on the shell to kill it and expect CrashMonkey to clean up resources properly.

Most of this should just be catching the proper signal and then calling `cleanup_harness()` in the instance of the `Tester` object that `harness/c_harness.cpp` has.

Right now, I know that backgro

[2017-10-02 18:36] ashmrtn opened #53 "Put whether a bio is data or metadata in output log"
#17 and #48 brought in a log file that the failing tests are printed to. This log output contains the indices of the bios in the crash state, and the order they were written out to disk to to form the crash state. This list of indices should be augmented to show whether the bio was a metadata bio or a data bio.

Metadata bios will be denoted by the META flag in the bio itself. Data bios will not h

[2017-10-02 20:56] #42 closed

[2017-10-02 20:56] #41 closed

[2017-10-02 20:56] #40 closed

[2017-10-02 20:56] #39 closed

[2017-10-02 20:57] #38 closed

[2017-10-04 23:14] #50 closed

[2017-10-05 03:35] vijay03 commented on #12
Should we close this issue now @ashmrtn ?

[2017-10-05 14:12] #12 closed

[2017-10-11 00:40] ashmrtn commented on #3
For file systems that journal data, we should profile/test workloads where we fill the journal up so that it is forced to write it out

[2017-10-11 00:47] vijay03 commented on #3
Agreed. In general I think our setup should always push the file system to the brink of resource exhaustion (90% space used, smallest journal possible etc) and then run our tests.

[2017-10-16 14:17] ashmrtn opened #55 "Modify xfstests' fsx program for use in CrashMonkey"
`xfstests` in kdave's repo has a source file for a program called `fsx` that is meant to perform random write/truncate/allocate operations on a single file in the file system. This would be a useful tool for the CrashMonkey team because it would allow us to quickly bootstrap random tests.

The `fsx` program has a few extra things the CrashMonkey team may not need.
1. it creates 2 extra files in ad

[2017-10-18 16:22] ashmrtn opened #56 "Create unit tests for the permuters"
The permuters should have unit tests associated with them to make sure they are working properly. These test should include things like checking the permuter works properly when no or 1 bio is logged etc.

Tests should be placed in the `test` directory in the repo.

[2017-10-20 06:46] gk159yo commented on #26
This took a lot longer to resolve than expected due to us trying to modify the source code and a bunch of other misunderstandings and problems.

Anyways, we went with Ashley's suggested approach to solve this issue.
This is the `bio` data (bolded) for a ramdisk with 1 partition, with the wrapper recording data for the first partition (when we copied over a very small file):
`
 [ 1075.XXXXX] hwm: b

[2017-10-20 06:57] #26 closed

[2017-10-20 12:38] ashmrtn commented on #26
The work these three have done has also shown that there is two possibilities when it comes to wrapping a device with multiple partitions:
1. a user could use `disk_wrapper` to wrap an entire block device with multiple partitions
1. a user could use `disk_wrapper` to wrap a single partition on a block device with multiple partitions

The current `disk_wrapper` seems to have issues with point 2 abo

[2017-10-20 16:55] vijay03 opened #57 "Use xfstests to create a test suite"
https://github.com/kdave/xfstests

Infrastructure to do the following:
- Pick an xfstest
- Run in bkgd, profile with crashmonkey
- check N crash states

[2017-10-23 14:53] ashmrtn commented on #24
9p bug: https://marc.info/?l=linux-netdev&m=150853032419362&w=2

[2017-10-23 14:58] ashmrtn commented on #24
xfs recovery bug: https://marc.info/?l=linux-xfs&m=150836989009464&w=2

[2017-10-31 03:29] gk159yo commented on #57
@vijay03
@ashmrtn

Our understanding of the issue at hand is that you want to be able to log operations for tests run by xfstest through crashmonkey. We are thinking of doing this by setting the crashmonkey wrapper device (hwm) to be the device that xfstest runs tests on.

We would like to request several clarifications. Is the above interpretation correct? As for "run in bkgd," does this mean to

[2017-10-31 12:37] ashmrtn commented on #57
Yes, making xfstests run it's tests on the CrashMonkey wrapper device is the proper approach. You will likely need to  check how large a disk xfstests wants to use. CrashMonkey thus far has been using pure RAM disks, so the file system size has been limited by system memory size.

I believe "run in bkgd" refers to running CrashMonkey in the background and then starting an xfstest with the CrashMon

[2017-11-01 19:06] ashmrtn commented on #24
btrfs metadata accounting bug: https://mail-archive.com/linux-btrfs@vger.kernel.org/msg69423.html

[2017-11-08 15:13] ashmrtn opened #60 "future bugs to investigate when CrashMonkey is more complete"
This is a list of file system bugs that the current implementation of CrashMonkey cannot reproduce because we don't have the infrastructure for it. If we add the infrastructure in the future, these might be interesting to try to recreate.

[2017-11-08 15:13] ashmrtn commented on #60
RAID6 disk removal/replacement bug: https://marc.info/?l=linux-btrfs&m=151004357209837&w=2

[2017-11-09 14:30] ashmrtn commented on #46
bd488f3 contains basic code to write out the recorded log data in hex. This code should be cleaned up and standardized a bit to make it better.

Loading the profile data back into CrashMonkey has been left as an exercise for the reader and is why bd488f3 has not been PRed into master.

[2017-11-15 14:53] ashmrtn commented on #24
This ext4 bug seems like it may be a good candidate for reproduction. It has to do with `fdatasync` and `fallocate` causing blocks to go missing: https://marc.info/?l=linux-ext4&m=151074688620892&w=2

[2017-12-18 20:27] vijay03 opened #65 "Clean up logs"
We currently have the information from a run of CrashMonkey spread in too many files and logs, which makes interpreting tests hard. Lets consolidate this into one file.

[2018-01-18 13:07] ashmrtn commented on #24
not a crash consistency bug per se, but it may be something we could look into:
1/2: https://mail-archive.com/linux-btrfs@vger.kernel.org/msg72612.html
2/2: https://mail-archive.com/linux-btrfs@vger.kernel.org/msg72611.html

[2018-01-20 14:28] ashmrtn commented on #24
This is more of a theoretical thing that could happen, but may be something we can look into in the future as it deals with both a computer crash and hardware corruption of data (for F2FS):
https://sourceforge.net/p/linux-f2fs/mailman/message/36196800/

[2018-01-23 13:15] ashmrtn commented on #24
Sounds kind of like the delayed allocation ext4 bug we explored earlier, but this time with direct writes:
https://marc.info/?l=linux-ext4&m=151669669030547&w=2

[2018-01-25 22:41] ashmrtn commented on #24
Another f2fs bug. This one sounds more like it could occur when bios are split, but I'm not exactly sure just from reading the summary:
https://sourceforge.net/p/linux-f2fs/mailman/message/36204985/

[2018-01-26 00:53] vijay03 commented on #24
Right, the latest F2FS bug seems like it would be easily reproducible. @jayashreemohan29

[2018-01-26 01:11] ashmrtn commented on #24
We may have to play with maximum bio size a little bit in CrashMonkey to figure that one out, but it is definitely possible. From the cited email, it sounds almost like they are worried about a bio being split, but I have not researched that further

[2018-02-06 13:44] ashmrtn commented on #24
This is not a file system bug that requires a crash, but it may be something we can reproduce with CrashMonkey (XFS file system): https://marc.info/?l=fstests&m=151792263511472&w=2

It sounds like they are mostly moving extents around in files, though I haven't investigated further

[2018-02-13 03:23] ashmrtn commented on #24
not a specific btrfs issue, but maybe something to look into/think about:
https://mail-archive.com/linux-btrfs@vger.kernel.org/msg73465.html

[2018-02-24 13:59] ashmrtn commented on #24
I'm not sure exactly what feature of xfs this is fixing (swapext), but it seems like something that we would be interested in demonstrating:
https://www.spinics.net/lists/linux-xfs/msg15923.html

[2018-03-27 12:47] ashmrtn commented on #24
Btrfs hole punch bug:

[2018-04-06 12:09] ashmrtn commented on #24
Test for preserving extents after fallocate and fsync:
https://marc.info/?l=fstests&m=152300088118055&w=2

[2018-04-07 18:10] pandian4github opened #105 "CrashMonkey test faililng due to assertion error in RandomPermuter"
Many times, the crash monkey test fails with an assertion error in random permuter due to which it is unable to decide the result of the test.  The error looks like -

`c_harness: permuter/RandomPermuter.cpp:307: void fs_testing::permuter::RandomPermuter::AddEpochs(const iterator&, const iterator&, const iterator&, const iterator&): Assertion 'current_res != res_end' failed.`

We noticed this happ

[2018-04-07 20:30] vijay03 commented on #105
Should be fixed by @ashmrtn's patch: #106

[2018-04-07 20:30] #105 closed

[2018-04-10 03:58] junghan0611 opened #109 "insmod ERROR: “disk_wrapper.ko: Cannot allocate memory”"
I'm trying to test Crashmonkey, but I get an error when trying to register a kernel module. I also change the kernel version on some other PCs, but it shows same results.
Please check this problem.

- Crashmonkey (commit eeca8ff0c4202ec247ade2b065e48d69a810c3f3)
- Kernel 4.15.0-041500-generic, Glibc 2.23
- Hardware : Intel 4 core, 8GB RAM, 120GB SSD
- Ubuntu 16.04.2 LTS

--------------------------

[2018-04-10 12:32] ashmrtn commented on #109
Hi junghan0611, is there any extra information besides this present in `dmesg`? The debug prefix that the disk_wrapper uses in `dmesg` is 'hwm', so doing `dmesg | grep hwm` will hopefully give more hints as to the issue.

This could be a problem where the system cannot get a flag device as well (the errors that you can return in the kernel are limited, so they may not match exactly). Can you confi

[2018-04-10 13:40] junghan0611 commented on #109
Here is debug messages.

**1) run crashmonkey**
**root@junghan-nuc:~/crashmonkey_git/build# ./c_harness -f /dev/vda -d /dev/cow_ram0 -t ext2** tests/rename_root_to_sub.so -v
running 0x7ffd6139fa78
========== PHASE 0: Setting up CrashMonkey basics ==========
Inserting RAM disk module
Loading test case
Loading permuter
Updating dirty_expire_time_centisecs to 3000

========== PHASE 1: Creating base d

[2018-04-10 13:45] junghan0611 commented on #109
Here is debug messages.

[code]

[2018-04-11 02:43] #109 closed

[2018-04-23 12:38] ashmrtn commented on #24
this patch for DIO hasn't landed yet, but it may be worth checking out in the future: https://marc.info/?l=linux-block&m=152402498811127&w=2

[2018-09-30 13:37] #65 closed

[2018-09-30 13:37] #57 closed

[2018-09-30 13:37] #56 closed

[2018-09-30 13:38] #55 closed

[2018-09-30 13:38] #2 closed

[2018-09-30 13:38] #3 closed

[2018-09-30 13:39] #5 closed

[2018-09-30 13:40] #10 closed

[2018-09-30 13:40] #23 closed

[2018-09-30 13:41] #24 closed

[2018-09-30 13:41] #46 closed

[2018-09-30 13:42] #47 closed

[2018-09-30 13:42] #27 closed

[2018-10-07 01:02] vijay03 opened #120 "Make multiple instances of CrashMonkey run in a single machine"
Currently, for each VM, only one Crashmonkey instance is running. This wastes a lot of computational power. It would much more efficient to run X instances of Crashmonkey if there are X cores on the machine.

This would require running X wrapper devices per virtual machine. Not sure what kernel problems we will run into when doing this.

[2018-10-07 01:36] ashmrtn commented on #120
You would have to make a couple of changes to the current system to get this working. First, you'd have to go through and remove the hard-coding of the disk to use as the wrapper device and the snapshot device(s).

The more difficult problem would be going through and making sure that each instance of CM used a different set of snapshot devices. Right now, we don't know how many checkpoints a test

[2018-11-09 20:50] vijay03 opened #122 "Have CrashMonkey behave more like a fuzzer"
Have CrashMonkey run in a "fuzzer" mode where:
1) It takes as input running time T. It should terminate after this specified time.
2) It randomly picks a target workload in the configured state space (right now it explores everything)
3) It stores a persistent state with the workloads it has already explored so that it doesn't explore them in the next invocation (a bloom filter with test IDs would

[2018-11-11 01:06] vijay03 opened #123 "Write an adaptor for Crashmonkey for dm-flakey"
Currently, the user-space component of CrashMonkey generates tests that run on CrashMonkey's custom kernel module. We would like to generate tests that use dm-flakey (https://www.kernel.org/doc/Documentation/device-mapper/dm-flakey.txt) since dm-flakey is already in the Linux kernel. The advantage of doing so is that the tests CrashMonkey produces can directly be added to xfstests and run by Linux

[2018-11-11 02:38] #4 closed

[2018-12-13 18:33] vijay03 commented on #122
Check out AFL: http://lcamtuf.coredump.cx/afl/

[2018-12-27 18:46] Suryak-5328 commented on #123
It says that 37 CrashMonkey tests were selected and converted into one xfstest. So is the input going to be a group of files and is it possible to get some of them?

Also, can I assume that the loop that was used in the linked code will be used for all the future modules and the only thing that will vary from each xfstest to the next will be the function called (test_link) in the loop?

[2019-01-11 21:46] squizz617 opened #124 "ACE fails on fsync"
Hi,

If I include `fsync` in the OperationSet list (`ace/ace.py` line 59), and run (`python ace.py -l 1 -n False -d False`), ACE fails with the following error message:
[code]

Thanks.

[2019-01-11 21:52] vijay03 commented on #124
We handle fsync of files in the workload separately: after each operation, Ace will generate fsync(), fdatasync(), or sync() on one of the workset files. Not sure if we need fsync() in the OperationSet list.

@jayashreemohan29, can you confirm?

[2019-01-11 22:41] squizz617 commented on #124
I see your point, professor Vijay.
I had a false impression from the comment ("Set of file-system operations to be used in test generation") that sync and fsync should be in the OperationSet list, but just found that either `fsync()` or `sync()` is auto-generated on one of the open files even though they're not in the list.
Thank you!

[2019-01-11 22:59] squizz617 opened #125 "ACE fails on "nested" mode"
Hi, here to report another bug.

Command `python ace.py -l 1 -n True -d False` fails with the following message:
[code]

[2019-01-11 23:07] vijay03 commented on #124
Great! Closing this issue then.

[2019-01-11 23:07] #124 closed

[2019-01-14 09:11] Hitatm opened #126 "report two Ace bugs"
I am intersted at your crashmonkey，but i found some obvious bugs. maybe，you can fix it.
### 1  at copy_diff.sh:27
[code]
### 2 at ace.py   variable *file_names*， incomplete type judgment
[code]
i have tried  "python ace.py -l 1 -n True -d false",your ace will always report None Type Error.

[2019-01-14 09:20] Hitatm commented on #126
the first bug ,when  runnig  your seq2 testcase for seconds ,then interrupt it, and rerun,you will find some testcase report "Could not run test".

[2019-01-14 19:02] ashmrtn commented on #126
From the description of bug 1, it sounds like an artifact of how CrashMonkey exits when interrupted. My guess would be that CrashMonkey hasn't cleaned up some of the resources it uses, and so the second time you try and run the test it fails due to the resource issue. I know CrashMonkey does not exit cleanly when interrupted. The resources that cause it to fail will be cowBrd and DiskWrapper kerne

[2019-01-16 12:53] Hitatm commented on #126
Thanks ashmrtn  for your detailed response. for bug2 i find I can use the script under dir crashmonkey/ace/specific_generator_scripts;
In addition，I notice that you have done a lot of work on  cowBrd and DiskWrapper. I have read your paper (B3) in detail and try to apply your dirver to my andriod phone ,but my phone's linux kernel(google’s AOSP ,current version is 4.9 , next version is 4.14) does

[2019-01-16 15:33] ashmrtn commented on #126
I can see if I have some extra time in the next few weeks to try porting CrashMonkey to 4.9. My guess would be it's some mismatch in the names of variables or the build process, but I don't know if it'll be a quick fix or not since I've never tried running it on an Android device.

So that I have a little more background information, how are you building CrashMonkey for Android? The `Makefile` cur

[2019-01-17 06:30] Hitatm commented on #126
Sorry, I did not make it clear. I'm trying to test my filesystem,under linux mainline on PC(qemu). Since android kernel is 4.9, I prepare to move my filesystem to linux 4.9 and do some crash consistent test.
my kernel version 4.9.0-rc8+, no build errors. and i can correctly  insmod   cowBrd and DiskWrapper.

[code]
then i rmmod the two drivers and then run
sudo python xfsMonkey.py -f /dev/vdb -d /

[2019-01-17 16:13] ashmrtn commented on #126
Thanks for the extra information!

That is actually an interesting `dmesg` log that you got back. Based on the `dmesg` output, I think you are correct that the file system somehow gets destroyed.

I'll see if I have some time this weekend to look at this more closely

[2019-01-21 20:58] jayashreemohan29 commented on #125
Thanks for notifying. It has been fixed now - #127

[2019-01-21 20:58] #125 closed

[2019-01-21 20:59] jayashreemohan29 commented on #126
@Hitatm Thanks for identifying the nit in the shell script. It has been fixed #127

[2019-01-25 01:13] Hitatm commented on #126
OK, nice,thanks. @jayashreemohan29

[2019-01-31 05:19] Hitatm commented on #126
Sorry I've just noticed your message, thanks @vijay03  and @ashmrtn , I will do the test and give me a feedback

[2019-01-31 09:01] Hitatm commented on #126
I tested seq-1 on my VM，it works well. thanks for your excellent work.  @vijay03 @ashmrtn . (By the way, xfsMonkey.py:94,  mkdir cmd add  -p option will be better when it exits abnormally @jayashreemohan29 )

[2019-01-31 09:10] Hitatm commented on #126
I mean the driver modules no  kernel WARNING,but there are 3 bugs reported, it might be my own fault.
[code]

[2019-01-31 09:10] Hitatm commented on #126
I mean the driver modules no kernel WARNING,but there are 3 bugs reported, it might be my own fault.
[code]

[2019-02-01 02:10] jayashreemohan29 commented on #126
@Hitatm These are bugs. Can you tell me which file system  and kernel version you are running these tests on? If you take a look at the workload files corresponding to the bugs you have reported, they are three different scenarios of the fallocate syscall with FALLOC_FL_KEEP_SIZE flag set. In all three cases, although the file size should have been unmodified after fallocate, CrashMonkey is report

[2019-02-01 05:56] Hitatm commented on #126
I move the f2fs of andrioid-p to linux 4.9.0-rc8 and test it on qemu vm.  I apply the f2fs-bug9 patch and case j-lang26/34 pass  thanks @jayashreemohan29.  About j-lang46 case, there may be something wrong introduced by myself, I am working on it .

[2019-03-10 17:55] Puthranps commented on #52
May I be assigned this issue? @ashmrtn

[2019-03-10 17:59] vijay03 commented on #52
Sure, I don't think anybody is working on this at the moment. @ashmrtn @jayashreemohan29

[2019-03-10 18:02] vijay03 commented on #52
I can't assign the issue to @Puthranps since you are not a member of the team, but feel free to work on this and submit a PR.

[2019-03-10 18:11] Puthranps commented on #52
Sure thanks @vijay03

[2019-03-11 05:01] Puthranps opened #131 "Build error happening"
While building it's detecting syntax error such as implicit function declarations.

declaration of function ‘get_disk’; did you mean ‘put_disk’? [-Werror=implicit-function-declaration]
   kobj = brd ? get_disk(brd->brd_disk) : NULL;

I have installed all dependencies and am running on Ubuntu 18.10

[2019-03-11 14:44] ashmrtn commented on #131
Which kernel version are you running on (can be viewed with `uname -r`)? `cow_brd.c` is a kernel module, so the warnings/errors you're seeing are related to changes in kernel versions. If you don't want to deal with this issue, you can switch to one of the supported kernel versions which is listed [here](https://github.com/utsaslab/crashmonkey/blob/master/docs/CrashMonkey.md#setting-up-a-vm). You

[2019-03-11 15:16] Puthranps commented on #131
I have kernel version 4.18 I can try different .Deb for my Linux version.

[2019-04-10 23:33] squizz617 opened #132 "Failed test cases - "Unable to remove wrapper device""
Hi.
While testing seq-2 workloads, I get a lot of "Could not run test" messages.
In the log, it says "Unable to remove wrapper device":
[code]

May I know why this happens, and is there a fix for this?

[2019-04-11 02:21] ashmrtn commented on #132
Hello,

Without more information, it appears that one of the earlier tests failed or died abnormally and the disk wrapper kernel module could not be removed. Checking `dmesg` may have more information on this (the entries will start with 'hwm' if they are in `dmesg`), but it is hard to tell. You can try using `lsmod` and looking for `disk_wrapper` to see if it is in use by anything ('used by' colu

[2019-08-19 19:00] JameerBabu commented on #123
Hello sir, after reading about dm-flakey and crash monkey, I got an idea how to develop an adapter. I would like to start writing a file with the commands (Ex :   corrupt_bio_byte 32 r 1 0 ) in a file so that the results can be stored in xfstests. Please let me know your idea sir.

[2019-08-20 04:53] JameerBabu commented on #123
May be the one similar to  "sudo dmsetup create test --table '0 123 flakey 1 0 /dev/loop4'' may work.

[2020-02-06 03:28] #131 closed

[2020-04-22 04:17] vijay03 commented on #53
@ashmrtn @jayashreemohan29 Is this issue still relevant to CrashMonkey?

[2020-04-22 05:01] drholmie opened #136 "Port CrashMonkey to Linux 5.6.6"

[2020-04-22 14:23] ashmrtn commented on #53
From a technical perspective it is not required, though it may make debugging certain issues a little easier. The debugging help assumes that file systems properly set the meta flag for changes to their own metadata (I believe that's what this flag is supposed to represent, but I don't think I ever tracked down the actual definition of it).

All changes for this code would be in the userspace port

[2020-04-26 16:18] drholmie opened #138 "Update documentation and scripts to reflect changes in xfsMonkey.py for btrfs"
Currently the `README.md`, `vm_remote_trigger_script.sh` and `demo.sh` use `100MB` as the specified size when running `xfsMoneky.py` with file system as `btrfs`, even thought it is mentioned in `xfsMonkey.py` (here: https://github.com/utsaslab/crashmonkey/blob/master/xfsMonkey.py#L84) that `btrfs` requires at least `200MB`.

This change occurred in the following commit: https://github.com/utsaslab

[2020-04-28 16:17] #136 closed

[2020-05-03 01:01] samuelsh opened #140 "Build error "No such file or directory" on CentOS7"
System:
[code]

[code]

[2020-05-03 14:05] ashmrtn commented on #140
**Short Answer**
Changing [this line](https://github.com/utsaslab/crashmonkey/blob/69877355755963f28e0f1b27f1ef8082bd98e03f/code/Makefile#L14) defining the kernel header path in `code/Makefile` to point to the kernel headers for the running kernel should solve the issue.

**Long Answer**
Make is unable to locate the header files for the current kernel. CrashMonkey compiles a kernel module using an

[2020-05-03 14:05] #140 closed

[2021-05-10 01:08] jtassarotti opened #141 "xfstest adapter produces incorrect output files because of erroring commands"
Given a j-lang version 1 test file, the Ace xfstest adapter generates two files: a numbered test script (e.g. 362) and a verified output for that test (362.out). xfstest determines a test has failed if its output does not match this verified output.

Ace's xfstest adapter always emits verified output files that say tests should emit no output. However, the generated tests do sometimes produce erro

[2021-08-16 13:53] jcyuan78 opened #142 "Memory access violation"
In the DiskMod::GetSerializeSize() in DiskMod.cpp lines 25-28, for type==kRemoveMod, the function just return the request memory size as 13 byte + path size, not include the length and offset of the payload data.
However, in  DiskMode::Serialize() in DiskMode.cpp line 115-117, when the type == kRemoveMod, it will continue to call SerializeDataRange(), which write additional 16 bytes to the buffer.

[2021-09-10 16:20] #142 closed

[2021-09-10 16:21] ashmrtn commented on #142
Thanks for pointing this out!

[2022-08-16 09:39] jiyangyangyangyang opened #144 "False positive tests"
Hi guys,

i use Ace to generate workloads of sequence length 2.
During running all the test cases in xfstests, around 600 tests are failed and mostly false positive, like test cases try to move A to A/B.

For example:
QA output created by 256257
/scratch/A/bar: No such file or directory
Silence is golden
QA output created by 256333
mv: can't rename '/scratch/A': Invalid argument
Silence is golden

[2022-11-14 13:07] JiyangLiuG opened #146 "The xfstest does not support _supported_os"
Reference:
https://github.com/kdave/xfstests/commit/a860a167d87a75a4ed96c9b371c48f0f21729191

Please remove "_supported_os Linux" from:
/code/tests/ace-base/base_xfstest.sh and
/code/tests/ace-base/base_xfstest_concise.sh